<!--
    file shows details of a particular event to the user
-->

<main class="container mt-5">
    <block class="title-block">
        <!-- title section -->
        <h1><%= title %></h1>
        <p>
            View all details for this event below.
        </p>
    </block>
    <hr>

    <!-- body section -->
    <body>
        <!--to access a property of the object in array, reference array index and property key-->
        <!--iterate over the array and print all values using a forEach-->
        <% const e = model %>
        <div>
            <h5><%= e.title %></h5>
            <ul>
                <li>Description: <%= e.description %></li>
                <li>Venue Name: <%= e.venueName %></li>
                <li>Address: <%= e.street%>, <%= e.city%>, <%= e.state %> <%= e.zipcode %> <%= e.country%></li>
                <li>Start Date and Time: <%= e.startDatetime.toString() %></li>
                <li>End Date and Time: <%= e.endDatetime.toString() %></li>  
            </ul>
        </div>

        <!--NEED TO WRAP BELOW CODE IN SECTION TO ENSURE user made event-->
        <!--right now this is hardcoded because user login feature is not coded
            this would only show the below after checking if userLoggedIn.id == event.userId-->
        <% if(loggedInUserId === e.userId) { %>
        <!--button to edit event-->
        <form action="/events/edit" method="get" >
            <input type="hidden" id="id" name="id" value=<%= e.id %> >
            <input type="submit" value="Edit Event" class="btn btn-secondary mb-3"/>
        </form>
        <hr>

        <!--button to delete event-->
        <form action="/events/delete" method="get" >
            <input type="hidden" id="id" name="id" value=<%= e.id %> >
            <input type="submit" value="Delete Event" class="btn btn-secondary mb-3"/>
        </form>
            
        <hr>
        <% }; %>
    </body>

</main>
