<!--
    file shows index page of all available events to user
-->

<main class="container mt-5">
    <block class="title-block">
        <!-- title section -->
        <h1><%= title %></h1>
        <p>
            Check out what's going on in the Eventeny community!
        </p>
    </block>

    <!-- body section -->
    <body>
        <div>
            <p style="text-align:right; font: size 80%;">
                Displaying <%= DisplayedEventsCount %> of <%= AllEventsCount %> Events.
            </p>
            <hr>
        </div>
        <!--would be most ideal to have a search bar that could filter events and sort search-->
        
        <!--to access a property of the object in array, reference array index and property key-->
        <!--iterate over the array and print all values using a forEach-->
        <% for (let i = 0; i < model.length; i++) { %>
            <% const e = model[i]%>
            <div>
                <h5><%= e.title %></h5>
                <ul>
                    <li>Description: <%= e.description %></li>
                    <li>Venue Name: <%= e.venueName %></li>
                    <li>Address: <%= e.street%>, <%= e.city%>, <%= e.state %> <%= e.zipcode %> <%= e.country%></li>
                    <li>Start Date and Time: <%= e.startDatetime.toString() %></li>
                    <li>End Date and Time: <%= e.endDatetime.toString() %></li>  
                </ul>
            </div>

            <!--button to view details of each event-->
            <form action="/events/details" >
                <input type="hidden" id="id" name="id" value=<%= e.id %> >
                <input type="submit" value="View Details" class="btn btn-secondary mb-3"/>
            </form>
            <hr>
        <% }; %>

    </body>
</main>
